<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput [formControl]="textFormControl" [errorStateMatcher]="matcher"
           >
    <mat-error *ngIf="textFormControl.hasError('text') && !textFormControl.hasError('required')">
      Please enter a valid {{ field_name }}
    </mat-error>
    <mat-error *ngIf="textFormControl.hasError('required')">
      {{ field_name }} is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>

<div *ngIf="!askIfSave" class="right">
  <button mat-button (click)="cancel()" color="primary">Cancel</button>
  <button mat-button (click)="askToSave()" color="accent">Save</button>
</div>

<div *ngIf="askIfSave">
  <p>Are you sure you want to save changes to the {{ field_name }} field?</p>
  <button mat-button (click)="changedMyMind()" color="primary">No</button>
  <button mat-button (click)="save()" color="accent">Yes!</button>
</div>
