<!--suppress ALL -->
<app-header header="Changing Data"></app-header>

<div id="data-block" class="left">

  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sections
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Click on the section you want to edit.</p>
    </mat-expansion-panel>
    <app-edit-section-card></app-edit-section-card>
  </mat-accordion>

</div>

<div id="data-block" class="right">
  <button mat-fab color="accent" (click)="addSection">
    <mat-icon>add</mat-icon>
  </button>
</div>
