<!--suppress ALL -->
<app-header header="Changing Data"></app-header>

<div id="data-block">

  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sections
        </mat-panel-title>
<!--        <mat-panel-description>-->
<!--        </mat-panel-description>-->
      </mat-expansion-panel-header>
      <p>Click on the section you want to edit.</p>
    </mat-expansion-panel>
    <app-edit-section-card></app-edit-section-card>
  </mat-accordion>

<!--  <div id="block1">-->
<!--    <p id="data-block-title">Section 1</p>-->
<!--  </div>-->

<!--  <div id="block2">-->
<!--    <p id="data-block-title">Click on object to change it</p>-->
<!--  </div>-->

</div>
