div {
  text-align: center;
}

virtual-scroller {
  width: 100vw;
  height: calc(6 * 100vh);
  margin: 0;
  overflow: hidden;
}

app-page-section{
  -webkit-animation: fadein 2s;
}

.infoButton {
  border: darkgray 2px;
  /*justify-content: flex-end;*/
  /*child-align: right;*/
  padding: 0.5%;
  text-align: right;
  border-radius: 50%;
  background-color: #151414;
  color: darkgray;
}
