div {
  text-align: center;
}
#block_container {
  text-align: center;
  display: flex;
  hight: innerWidth;
  justify-content: space-between;
  margin-right: 8%;
  margin-left: 8%;
  margin-top: 6%;
  align-items: center;
}
#bloc1, #bloc2 {
  background-color: transparent;
  flex-basis: 45%;
  box-sizing: border-box;
}
