div {
  text-align: center;
}

virtual-scroller {
  width: 100vw;
  height: calc(6 * 100vh);
  margin: 0;
  overflow: hidden;
}

app-page-section{
  -webkit-animation: fadein 2s;
}

.spaceHolder {
  color: salmon;
  width: 50px;
  margin: 0;
  height: calc(0.5 * 100vh);
}
