<div id="place-holder"></div>
<mat-expansion-panel
  *ngFor="let section of sections"
  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
    <mat-panel-title>
      Section {{ section.id }}
    </mat-panel-title>
      <mat-panel-description>
        {{ section.title }}
      </mat-panel-description>
  </mat-expansion-panel-header>
  <main id="editForm">

    <app-edit-data-field title="Title" [content]="section.title"></app-edit-data-field>
    <app-edit-data-field title="Description" [content]="section.description"></app-edit-data-field>
    <app-edit-data-field title="Show more Url" [content]="section.url"></app-edit-data-field>
    <app-edit-data-field title="Image ID" [content]="section.imgID"></app-edit-data-field>

  </main>
</mat-expansion-panel>
