<div id="place-holder"></div>
<mat-expansion-panel
  *ngFor="let section of sections"
  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
    <mat-panel-title>
      Section {{ section.id }}
    </mat-panel-title>
      <mat-panel-description>
        {{ section.title }}
      </mat-panel-description>
  </mat-expansion-panel-header>
  <main id="editForm">

    <div id="edit-field-title">
      <p>Title :</p>
      <mat-icon (click)="openDialog()" color="accent" aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
    </div>
    <mat-divider></mat-divider>
    <p>{{ section.title }}</p>
    <div id="place-holder"></div>

    <div id="edit-field-title">
      <p>Description :</p>
      <mat-icon (click)="openDialog()" color="accent" aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
    </div>
    <mat-divider></mat-divider>
    {{ section.subTitle }}
    <div id="place-holder"></div>

    <div id="edit-field-title">
      <p>Image Url :</p>
      <mat-icon (click)="openDialog()" color="accent" aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
    </div>
    <mat-divider></mat-divider>
    {{ section.url }}
    <div id="place-holder"></div>

    <div id="edit-field-title">
      <p>Image Url :</p>
      <mat-icon (click)="openDialog()" color="accent" aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
    </div>
    <mat-divider></mat-divider>
    {{ section.imgID }}
    <div id="place-holder"></div>

  </main>
</mat-expansion-panel>
