/* You can add global styles to this file, and also import other style files */
html,
body {
  font-family: sans-serif;
  background-color: #151414;
}
h2 {
  color: white;
}
/*div {*/
/*  text-align: left;*/
/*  color: white;*/
/*}*/
.fade-text {
  color: #979797;
}
.bold-text {
  color: white;
  fontSize: 20px;
  font-weight: 500;
}

.left{
  text-after-overflow: left;
  text-align: left;
}

.regular-text{
  color: white;
  font-size: 18px;
  font-family: Poppins, sans-serif;
}

.heading-main {
  opacity: 1;
  font-family: "Playfair Display";
  color: #fff;
  font-size: 34px;
  font-weight: 200;
}
.center {
  display: flex;
  justify-content: center;
}
.section{
  display: inline-block;
  hight: 100%;
}

#block_container {
  display: flex;
  justify-content: space-between;
  margin-right: 8%;
  margin-left: 8%;
  align-items: center;
  text-align: left;
  box-sizing: border-box;
  height: calc(100vh - 24px);
}
